<html>
    <body>
        <ul>
            <li>
                <p>POST http://127.0.0.1:8000/api/protein/ - Add a new record</p>
                <a href = "http://127.0.0.1:8000/api/protein/">http://127.0.0.1:8000/api/protein/</a>
            </li>
            <li>
                <p>GET http://127.0.0.1:8000/api/protein/[PROTEIN_ID] - Return the protein sequence and all we know about it</p>
                <a href = "http://127.0.0.1:8000/api/protein/A0A016SK08">http://127.0.0.1:8000/api/protein/A0A016SK08</a>
            </li>
            <li>
                <p>GET http://127.0.0.1:8000/api/pfam/[PFAM_ID] - Return the domain and it's description</p>
                <a href = "http://127.0.0.1:8000/api/pfam/PF00514">http://127.0.0.1:8000/api/pfam/PF00514</a>
            </li>
            <li>
                <p>GET http://127.0.0.1:8000/api/proteins/[TAXA_ID] - Returns a list of all proteins for a given organism</p>
                <a href = "http://127.0.0.1:8000/api/proteins/55661">http://127.0.0.1:8000/api/proteins/55661</a>
            </li>
            <li>
                <p>GET http://127.0.0.1:8000/api/pfams/[TAXA_ID] - Returns a list of all domains in all the proteins for a given organism</p>
                <a href = "http://127.0.0.1:8000/api/pfams/55661">http://127.0.0.1:8000/api/pfams/55661</a>
            </li>
            <li>
                <p>GET http://127.0.0.1:8000/api/coverage/[PROTEIN_ID] - Returns the domain coverage for a given protein</p>
                <a href = "http://127.0.0.1:8000/api/coverage/A0A016S8J7">http://127.0.0.1:8000/api/coverage/A0A016S8J7</a>
            </li>
        </ul>
    </body>
</html>